main{
  display: flex;
  justify-content: space-around;
  padding: 25px;
  gap: 5%
  
}

h1{
  margin: 10px;
}

div, section{
  background: #FFF;
  border-radius: 7px;
  box-shadow: 7px 7px 7px gray;
  min-width: 30%;
}
div{
  max-height: 200px;
 
}

div form input{
  margin: 7px;
}

section{
  flex: 1 1 auto;
  text-align: center;
  padding-bottom: 20px;
}

section table{
  margin: auto;
}

table, td, th, tr{
  border: 1px solid #333;
  border-collapse: collapse;
}

th, td{
  padding: 7px;
}

td a {
  padding: 5px;
}

.excluir{
  color: red;
  text-decoration: none;  
}

.excluir:hover{
  color: #FFF;
  background: darkred;
}

#add{
  background: blue;
  border: none;
  color: #FFF;
  font-weight: bold;
  padding: 7px;
  border-radius: 7px;
  margin: auto;
}
