<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %} {%endblock%}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/nav.css')}}">
</head>
<body>
<nav>

 <ul>
	    <li><a href="#"> Resumo </a></li>
            <li><a href="#"> Horario </a></li>
            <li><a href="{{url_for('rm.home')}}"> RM </a></li>
	    <li><a href="{{url_for('faltas.home')}}"> Faltas Programadas </a></li>
            <li><a href="{{url_for('lp.home')}}"> Lista Piloto </a>
                <ul class="sub">
                    {% for x in turmas %}
                        <li><a href="#">{{ x }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li><a href="#"> Transporte </a>
                <ul class="sub">
                    {% for x in transportes %}
                        <li><a href="#">{{ x }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li><a href="#"> Quadro de Funcionários </a></li>
	    <li><a href="#"> Patrimonio </a></li>
        </ul>


</nav>


    {% block conteudo %} 
    
    {%endblock%}
    
</body>
</html>