{% extends 'base.html'%}

{% block titulo %} Gerenciamento de Turmas {% endblock %}

{% block conteudo %}
<link rel="stylesheet" href="{{url_for('static', filename='css/lp.css')}}">
<main>

    <div>
        <h1> Adicionar Turmas </h1>
        <form action="/lp/inserir" method="post">
            <input type="number" name="codigoForm" id="codigoForm" placeholder="Codigo da Sala" required><br>
            <input type="text" name="turmaForm" id="turmaForm" placeholder="Descrição da Turma" required><br>
            <input type="submit" value="Adicionar" id="add">

        </form>
    </div>
    <section>
        <h1> Turma Adicionadas </h1>
        <table>
            <thead>
                <th>Codigo da Turma</th>
                <th> Descrição da Turma</th>
                <th> Excluir </th>
            </thead>
            <tbody id="turmas">
                <!-- Dados seram introduzidos via JS -->
        </table>
    </section>

</main>
<script src="{{url_for('static', filename='js/lp.js')}}"></script>

{% endblock %}