{% extends 'base.html'%}

{% block titulo %}  Registro de Matriculas  {% endblock %}

{% block conteudo %}

<link rel="stylesheet" href="{{url_for('static', filename='css/rm.css')}}">

<main>
    <h1> Registro de Matriculas (RM) </h1>
    <form action="/rm/inserir" method="post">
        <input type="text" name="nomeForm" id="nomeForm" placeholder="Nome do Aluno">
        <input type="submit" value="Adicionar">
    </form>
    <section>
        <table>
            <thead>
                <tr>
                    <th>RM</th>
                    <th>NOME</th>
                    <th>Excluir</th>
                </tr>
            </thead>
            <tbody id="tabela_rm">
              <!-- Dados seram introduzidos via JS -->
            </tbody>
        </table>
    </section>
<a href="/rm/excluir"></a>
</main>

<script src="{{url_for('static', filename='js/rm.js')}}"></script>

{% endblock %}