{% extends 'base.html' %}

{% block titulo %} {{rota}} {%endblock%}

{% block conteudo %}

<main>
    <h1> Lista do Transporte - Rota: {{rota}} </h1>
    <table>
        <thead>
            <th>Nome do Aluno</th>
            <th>RA</th>
            <th>Endereço</th>
            <th>Turno</th>
        </thead>
        <tbody>
            {% for x in alunos %}
            <tr>
                <td> {{x.nome}}  </td>
                <td> {{x.ra | RA}}-{{x.dig_ra}}</td>
                <td> {{x.logradouro}}, {{x.num_residencia}}</td>
                <td> {{x.turno}} </td>

            </tr>


            {%endfor%}
        </tbody>
    </table>
</main>




{%endblock%}